body {
	font-family: "helvetica", sans-serif;
}
li {
	list-style: none;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.yellow {
	color: yellow;
}
.italic {
	font-style: italic;
}
.underlined {
	text-decoration: underline;
}
a {
	color: inherit;
}